= javascript_include_tag "application", "bootstrap-datepicker.js" 
= javascript_include_tag "application", "calendar.js" 
.page-header
  %h1 
    New Event
    %small
      by
      =current_user.name

  =render "form"
